header {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(130, 130, 130, 1);
  -moz-box-shadow: 0px 1px 3px 0px rgba(130, 130, 130, 1);
  box-shadow: 0px 1px 3px 0px rgba(130, 130, 130, 1);
}
.nav-bar-container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}
.nav-bar-container nav a {
  color: grey;
  margin: 0 10px;
  font-size: 0.8rem;
  text-decoration: none;
}
.nav-bar-container .images {
  margin: 10px 10px;
  display: flex;
  height: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.nav-bar-button {
  margin-right: 30px;
}
.nav-bar-container .images img {
  max-height: 30px;
}
